<div class="container">
  <div class="price-row">
    <div class="price-col">
      <p>Starter</p>
      <h3>19$ / month</h3>
      <ul>
        <li>1 website</li>
        <li>1o GB Disk website</li>
        <li>Free Email Address</li>
        <li>Basic Web Builder</li>
        <li>No SSL Certificate</li>
        <li>Limited Support</li>
      </ul>
      <button type="button" class="btn-add-to-cart">Add To Cart</button>
    </div>
    <div class="price-col">
      <p>Advanced</p>
      <h3>19$ / month</h3>
      <ul>
        <li>1 website</li>
        <li>1o GB Disk website</li>
        <li>Free Email Address</li>
        <li>Basic Web Builder</li>
        <li>No SSL Certificate</li>
        <li>Limited Support</li>
      </ul>
      <button type="button" class="btn-add-to-cart">Add To Cart</button>
    </div>
    <div class="price-col">
      <p>Premium</p>
      <h3>19$ / month</h3>
      <ul>
        <li>1 website</li>
        <li>1o GB Disk website</li>
        <li>Free Email Address</li>
        <li>Basic Web Builder</li>
        <li>No SSL Certificate</li>
        <li>Limited Support</li>
      </ul>
      <button type="button" class="btn-add-to-cart">Add To Cart</button>
    </div>
  </div>
</div>